<div class="container-fluid p-5  text-light bg-gr">

    <div class="cardts p-3" style="border-radius: 20px;">

        <div class="row d-flex align-items-center">
            <div class="col-md-5">

                <div class="row d-flex justify-content-center">
                    <div class="col-md-9 text-center">

                        <h1 class="fs-52">welcome</h1>
                        <h2 class="p-0 gr-txt mb-3">{{nome}}</h2>

                        <h5 class="text-center text-md fs-18 pt-5">
                            Share your toughts with the world!
                        </h5>

                        <div class="row justify-content-center mt-3 mb-3">
                            <div class="col-md-8">
                                <button class="btn btn-light me-2" data-bs-toggle="modal"
                                    data-bs-target="#novaPostagem">New Post</button>
                                <a class="btn btn-outline-light" href="#todasPostagens">Recent Posts</a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-md-7 d-flex justify-content-center align-items-center"
                style="border-end-end-radius: 20px; border-start-end-radius: 20px">

                <img style="width: max-content; opacity: 90;" src="https://i.imgur.com/5LSZc8O.png" alt="">

            </div>

        </div>

    </div>

</div>

<!--Nav-->
<div class="bg-dark p-5">
    <div class="container bg-dark pt-1">
        <nav class="mb-3">
            <div class="nav nav-tabs d-flex justify-content-center" style="width: 100%;" id="nav-todasPostagens-tab"
                role="tablist">

                <button (click)="getAllPostagens()" class="nav-link active" id="nav-todasPostagens-tab"
                    data-bs-toggle="tab" data-bs-target="#todasPostagens" type="button" role="tab"
                    aria-controls="nav-todasPostagens" aria-selected="true">Recent Posts</button>

                <button (click)='findByIdUser()' class="nav-link" id="nav-minhasPostagens-tab" data-bs-toggle="tab"
                    data-bs-target="#minhasPostagens" type="button" role="tab" aria-controls="nav-minhasPostagens"
                    aria-selected="false">My Posts</button>

                <button class="nav-link" id="nav-postagemTema-tab" data-bs-toggle="tab" data-bs-target="#postagemTema"
                    type="button" role="tab" aria-controls="nav-postagemTema" aria-selected="false">Posts By
                    Tag</button>

            </div>
        </nav>

        <!--todas as postagens-->
        <div class="tab-content" id="nav-tabContent">

            <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel"
                aria-labelledby="nav-todasPostagens-tab">

                <div class="row row-cols-1 row-cols-md-5 h-100 g-1 d-flex justify-content-center">
                    <div class="card text-white bg-gr2 border-rounded m-2"
                        *ngFor='let item of listaPostagem | orderBy: key : reverse'>

                        <div class="card-header">
                            <h5 class="card-title">{{item.titulo}}</h5>
                            <p class="card-text"> <small>by: </small> <small
                                    class="fw-800">{{item.usuario.nome}}</small></p>
                            <p class="card-text"><small class="fw-800 p-0 m-0">#{{item.tema.descricao}}</small></p>
                        </div>

                        <div class="card-body btn-light">
                            <p class="card-text text-main-dark ">{{item.texto}}</p>
                        </div>

                        <div class="card-footer text-muted ">
                            <p class="card-text"><small class="text-white">{{item.data | date: 'dd/MM/yyyy'}}
                                    {{item.data | date: 'HH:mm'}} </small></p>
                        </div>

                    </div>
                </div>

            </div>
            <!--todas as postagens-->

            <!--postagens do usuario-->
            <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab"
                data-bs-toggle="tab" data-bs-target="minhasPostagens">

                <div class="row row-cols-1 row-cols-md-5 h-100 g-1 d-flex justify-content-center">
                    <div class="card text-white bg-gr2 border-rounded m-2" *ngFor='let item of user.postagem | orderBy: key : reverse'>

                        <div class="card-header">
                            <h5 class="card-title">{{item.titulo}}</h5>
                            <p class="card-text"> <small>by: </small> <small class="fw-800">you</small></p>
                            <p class="card-text"><small class="fw-800 p-0 m-0">#{{item.tema.descricao}}</small></p>
                        </div>

                        <div class="card-body btn-light">
                            <p class="card-text text-main-dark ">{{item.texto}}</p>
                        </div>

                        <div class="card-footer text-muted">
                            <p class="card-text"><small class="text-white">{{item.data | date: 'dd/MM/yyyy'}}
                                    {{item.data | date: 'HH:mm'}} </small></p>

                            <div class="d-flex justify-content-center pb-2">
                                <button [routerLink]="['/postagem-edit', item.id]"
                                    class="btn btn-light me-3 ">Edit</button>
                                <button [routerLink]="['/postagem-delete', item.id]"
                                    class="btn btn-outline-light">Delete</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!--postagens do usuario-->

            <!--postagem por tema-->
            <div class="tab-pane fade" id="postagemTema" role="tabpanel" aria-labelledby="nav-postagemTema-tab">

                <div class="row row-cols-1 row-cols-md-5 h-100 g-1 d-flex justify-content-center"
                    *ngFor="let tema of listaTemas">

                    <div class="card text-white bg-gr2 border-rounded m-2" *ngFor='let item of tema.postagem | orderBy: key : reverse'>

                        <div class="card-header">
                            <h5 class="card-title">{{item.titulo}}</h5>
                            <p class="card-text"> <small>by: </small> <small
                                    class="fw-800">{{item.usuario.nome}}</small></p>
                        </div>

                        <div class="card-body btn-light">
                            <p class="card-text text-main-dark ">{{item.texto}}</p>
                        </div>

                        <div class="card-footer text-muted ">
                            <p class="card-text"><small class="text-white">{{item.data | date: 'dd/MM/yyyy'}}
                                    {{item.data | date: 'HH:mm'}} </small></p>
                        </div>

                    </div>
                </div>

            </div>
            <!--postagem por tema-->
        </div>
    </div>
</div>
<!--Nav-->

<!-- Modal -->
<div class="modal fade text-light" id="novaPostagem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-darker">
                <h5 class="modal-title" id="staticBackdropLabel">New Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-darker">

                <div class="form-group">
                    <label for="titulo">Title</label>
                    <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo"
                        placeholder="Title">
                </div>

                <div class="form-group pt-2">
                    <label for="texto">Main Text:</label>
                    <textarea [(ngModel)]='postagem.texto' class="form-control" name="" id="texto" rows="3"></textarea>
                </div>

                <div class="form-group pt-2">
                    <label for="tema">Choose a Tag, or <a data-bs-target="#novaPostagem" data-bs-dismiss="modal"
                            routerLink='/tema'>Create a new one</a>:
                    </label>
                    <select class="form-control" name="tema" id="tema" [(ngModel)]='idTema' (change)='findByIdTema()'>
                        <option *ngFor='let item of listaTemas' value="{{item.id}}">{{item.descricao}}</option>
                    </select>
                </div>

            </div>
            <div class="modal-footer bg-darker">
                <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-light" (click)='publicar()'
                    data-bs-dismiss="modal">Publish</button>
            </div>
        </div>
    </div>
</div>