.card {
    padding-bottom: 5;
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.nav{
    background-color: dark;
    font-weight: 500;
}

.fs-52 {
    font-size: 52pt;
}

.fs-18 {
    font-size: 18pt;
}