<footer class="page-footer font-small bg-dark pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Keep Up with Us!</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex justify justify-content-center">
            <ul class="social-network">
                <li>
                    <a href="https://github.com/vbersano" target="_blank" class="icoGitHub">
                        <i class="fa fa-github-square" aria-hidden="true"></i>
                    </a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/vinicius-bersano/" target="_blank" class="icoLinkedIn">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </li>

                <li>
                    <a href="https://www.instagram.com/vbersanoo/" target="_blank" class="icoInstagram">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>

            </ul>
        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-2">
        <span class="text-light">Made with ❤ by Vinicius Bersano Oliveira</span>

    </div>

</footer>