<div class="container-fluid bg-dark text-light">

    <div class="row">

        <div class="col-md-8" id='img-bg'></div>

        <div class="col-md-4 mt-5 mb-5">

            <div class="row d-flex justify-content-center">
                <div class="col-md-10">

                    <h1 class="text-center">Registration</h1>

                    <div class="form-group">
                        <label for="username">Username</label>
                        <input class="form-control" type="text" name="username" id="username" placeholder="Username">
                    </div>

                    <div class="form-group">
                        <label for="user">E-mail</label>
                        <input class="form-control" type="text" name="user" id="user" placeholder="E-mail adress">
                    </div>

                    <div class="form-group">
                        <label for="photo">Profile Picture</label>
                        <input class="form-control" type="text" name="photo" id="photo"
                            placeholder="Profile picture URL link">
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" type="password" name="password" id="password"
                            placeholder="Password">
                    </div>

                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <input class="form-control" type="password" name="confirmPassword" id="confirmPassword"
                            placeholder="Confirm your Password">
                    </div>

                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <select class="form-control" name="type" id="type">
                            <option>Select a User Type</option>
                            <option value="normal">Normal</option>
                            <option value="Admin">Admin</option>
                        </select>
                    </div>

                    <div class="d-flex justify-content-center pt-4">
                        <button type="submit" class="btn btn-outline-danger me-4">Cancel</button>
                        <button type="submit" class="btn btn-outline-success">Register</button>
                    </div>

                    <hr class="mt-5 mb-5">

                    <p class="text-center text-light text-md">
                        Alredy have an account? <a href="">Sign-In</a>
                    </p>

                </div>

            </div>
        </div>

    </div>

</div>