#img-bg {
    background-image: url('https://i.imgur.com/Bo9zlPE.jpg');

    min-height: 0px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

hr{
    border: 1px solid whitesmoke;
}

div.form-group{
    margin-top: 12px;
    font-weight: 600;
}

